.App {
  text-align: center;
  padding-top: 30px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.error {
  color: red;
}

.page-container {
  width: 80%;
  padding: 20px;
  margin: auto;
}

.content-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.side-panel,
.center-panel {
  min-width: 200px;
  min-height: 75vh;
  flex-grow: 1;
  margin: 10px;
}

.side-panel-list,
.center-panel-list {
  border: 1px solid lightgray;
  padding: 10px;
  min-height: 100vh;
}

.center-panel {
  flex-grow: 2;
}

.flight-card {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid lightgray;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: -10px;
  margin-right: -10px;
}

.aircraft-card {
  display: flex;
  flex-direction: column;
  border: 1px solid lightgray;
  padding: 10px;
}

.flight-details-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.flight-details {
  display: flex;
  flex-direction: column;
}
